body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.leaflet-overlay-pane svg path{
    pointer-events: auto;
}

.current {
    display: grid;
    align-items: center;
    width: 350px;
    height: 45px;
    background-color: #111;
    position: absolute;
    top: 0;
    left: calc(50% - 175px);
    opacity: 80%;
    z-index: 999;
    border-radius: 0 0 100px 100px;
    border: 0.1px solid white;
    border-top: 0;
}

.crime-select, .crime-details {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #111;
    opacity: 80%;
    padding-left: 10px;
    z-index: 999;
    bottom: 0;
    width: 364px;
    height: 50px;
    justify-content: space-between;
    border-right: 0.1px solid white;
}

.crime-details {
    font-size: smaller;
    text-align: center;
    height: 20px;
    bottom: 50px;
    justify-content: center;
    font-weight: bolder;
    border-top: 0.1px solid white;
}

.crime-value::after {
    content: ' Incidents';
}

.crime-value {
    padding-right: 10px;
    font-size: small;
}

select {
    background-color: #111;
    color: white;
    border:none;
    padding: 10px 20px;
    border-radius:5px;
    width: 250px;
}

select:focus{
    outline:none;
}

.mcpp-count {
    padding-bottom: 5px;
    text-align: center;
}

.cc {
    padding: 5px;
    padding-bottom: 0;
    text-align: center;
}

.legend {
    display: grid;
    align-items: center;
    width: 374px;
    background-color: #111;
    position: absolute;
    justify-content: center;
    border-radius: 0;
    height: 50px;
    bottom: 70px;
    left: 0;
    z-index: 999;
    opacity: 80%;
    border-right: 0.1px solid white;
}

.c {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 370px;
    z-index: 9999;
    background-color: #111;
    opacity: 80%;
    color: white;
    border: none;
    text-align: center;
    border-radius: 0 100px 0 0;
    border: 0.1px solid white;
    border-left: none;
    border-bottom: none;
}
